.leaflet-bottom.leaflet-right {
    bottom: 10px;
    right: 10px;
  }
  
  .leaflet-control-zoom {
    margin-bottom: 10px;
  }

  .marker-cluster-small {
    background-color: rgb(166, 229, 108);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 12px;
    font-weight: bold;
  }
  
  .marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }
  
  .marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }

  .glow-marker .custom-marker {
    width: 25px;
    height: 41px;
    background: url('path/to/marker-icon.png') no-repeat center center;
    background-size: contain;
  }
  
  .glow-marker .custom-marker.glow {
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.8));
  }